.square{
    width: 70px; 
    height: 70px;
    display: inline-block;
    margin-right: 5px;
}
.b { 
    background: black; 
}
.r {
    background: #009abf; 
}
.b:hover{
    background:  #ff9f19;
}
.r:hover{
    background:  #ff9f19;
}
